# Default ignored files
/workspace.xml
docs/Archibald_Sr_/Gen1ArchibaldSilver.rtf
other_docs/
docs/Samuel_gen3/SamuelSilverThirdGenerationInfoCard_old.pdf
docs/william_s_gen4/WilliamSilver-FourthGenerationInfoCard_old.pdf
