*{
  box-sizing: border-box;
}

.body-container{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #e6ffe6;
}

.sidebar-container{
  background-color: #fff;
  order: -1;
  flex-direction: column;
  margin: 10px;
  align-self: flex-start;
  display: flex;
  width: 125px;
  height: 500px;
  border: 1px solid #000;  
  justify-content: space-around;
  align-items: center;
}

.body-image-container{
  margin: 10px 350px 10px 10px;
  width: 600px;
  height: 500px;
  order: 1;
  display: flex;
  border: 1px solid #000;
  background-color: #fff;
}

.links{
  /* border: 1px solid #000; */
    
}
