*{
  box-sizing: border-box;
}

.body-container{
  display: flex;
  align-items: center; 
  background-color: #e6ffe6;
}

.sidebar-container{
  background-color: #fff;
  order: -1;
  flex-direction: column;
  margin-right: 100px;
  align-self: flex-start;
  display: flex;
  width: 125px;
  height: 500px;
  border: 5px solid #e6ffe6;  
  justify-content: flex-start;
  align-items: center;
}

.body-image-container{
  width: 600px;
  height: 500px;
  order: 1;
  display: flex;
  border: 5px solid #e6ffe6;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.body-text-container{
  display: flex;
  width: 1000px;
  height: 500px;
  order: 1;
  border: 5px solid #e6ffe6;
  background-color: #fff;
  justify-content: flex-start;
  align-items: center;  
}

.links{
  /* border: 1px solid #000; */
  margin: 20px 5px 5px 0px
    
}

.body-images{
 margin: 5px;
}
